<div class="row link-footer">
  <% Ecm::Links::Configuration.link_footer_columns.times do |column| %>
    <div class="column-<%= column + 1 %> <%= Ecm::Links::Configuration.link_footer_column_css_classes.join(' ') %>">
      <% categories[column + 1].each do |c| %>
        <h4><%= c.name %></h4>

        <% c.ecm_links_links.each do |l| %>
          <p><%= render partial: 'ecm/links/links/link', locals: { link: l } %></p>
        <% end %>

      <% end if categories.has_key?(column + 1) %>
    </div>
  <% end %>
</div>
